header {
    text-align: center;
}
header nav ul.hide-on-med-and-down li {
    float: none;
    display: inline-flex;
    font-size: 1.24rem;
    text-transform: uppercase;
    margin-left: 10px;
}

.navbar-fixed .white {
    height: 70px;
}
.white .nav-wrapper {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 45px;
    width: auto;
    display: inline-block;
}
.menu-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1100px) {
    .menu-principal {
        display: none!important;
    }
    #nav-mobile {
        display: block!important;
    }
    .button-collapse {
        display: block!important;
    }
    nav a.button-collapse i {
        height: 70px;
        line-height: 70px;
    }
    .link-destaque {
        color: #fff!important;
        height: 50px!important;
        line-height: 50px!important;
    }
}
nav ul a,
nav .brand-logo {
    color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 0.82rem 0 0.656rem 0;
    margin-top: 70px;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
    font-size: 1rem;
    line-height: 1.1rem;
    margin: 0.5rem 0 0.4rem 0;
}
p {
    line-height: 2rem;
    font-size: 16px;
}

#portfolio img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#portfolio a {
    display: block;
    position: relative;
}
.portfolio-info {
    background: rgba(0,0,0,0.8);
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    padding: 0 15px;    
    display: flex;
    webkit-display:flex;
    align-items: center;
    justify-content: center;
}
#portfolio a:hover .portfolio-info {
    opacity: 1;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}
.portfolio-info h2 {
    color: #fff;
    font-weight: 600;
    margin-top: 15%;
    font-size: 1rem;
    text-align: left;    
    margin: 0;
}
.portfolio-info p {
    font-size: 0.9rem;
    color: #fff;
    line-height: 1.4rem;
    text-align: left;    
    margin: 0;
    margin-top: 5px;
}
.button-collapse {
    color: #3a98b5;
}
.button-collapse i {
    color: #3a98b5!important;
}

.parallax-container {
    min-height: 250px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
    width: 100%;
}
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}
@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}
.indigo {
    background-color: #409EC2!important;
}
.indigo.darken-2 {
    background-color: #388aaa !important;
}
.icon-block {
    padding: 0 15px;
}
footer.page-footer {
    margin: 0;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #409EC2;
    box-shadow: 0 1px 0 0 #409EC2;
}
.input-field input[type=text]:focus + label {
    color: #409EC2;
}
.input-field input[type=tel]:focus {
    border-bottom: 1px solid #409EC2;
    box-shadow: 0 1px 0 0 #409EC2;
}
.input-field input[type=tel]:focus + label {
    color: #409EC2;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid #409EC2;
    box-shadow: 0 1px 0 0 #409EC2;
}
.input-field input[type=email]:focus + label {
    color: #409EC23;
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #409EC2;
    box-shadow: 0 1px 0 0 #409EC2;
}
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #409EC2;
}
footer .entre_em_contato {
    padding: 30px 0;
    text-align: center;
}
footer .entre_em_contato p {
    width: 50%;
    margin: 0 auto 40px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}
footer .entre_em_contato p a {
    color: #fff;
}
.siga_me {
    margin-top: -15px;
}
.facebook {
    font-size: 68px;
    width: 77px;
    margin: 0 10px 0 0;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: transparent;
    opacity: 0.2;
}
.facebook:hover {
    font-size: 68px;
    width: 77px;
    margin: 0 10px 0 0;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 1;
}
.linkedin {
    font-size: 68px;
    width: 77px;
    margin: 0 10px 0 0;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: transparent;
    opacity: 0.2;
}
.linkedin:hover {
    font-size: 68px;
    width: 77px;
    margin: 0 10px 0 0;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: transparent;
    opacity: 1;
}
.googlep {
    font-size: 68px;
    width: 77px;
    margin: 0 10px 0 0;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: transparent;
    opacity: 0.2;
}
.googlep:hover {
    font-size: 68px;
    width: 77px;
    margin: 0 10px 0 0;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: transparent;
    opacity: 1;
}
footer.page-footer .footer-copyright {
    text-align: center;
    color: #FAF9FD;
    font-weight: normal;
}
footer.page-footer .footer-copyright a {
    color: #fff;
}
.fixed-action-btn {
    position: fixed;
    bottom: 45px;
    right: 24px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
.fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 45px;
}
.fixed-action-btn ul li {
    margin-bottom: 20px;
}
.hero-contato-container {
	display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.hero-contato-telefone {
	margin-right: 10px;	
}
.hero-contato-telefone, .hero-contato-email {
	width: 49%;
	display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ececec;
    border-radius: 5px;
}
.hero-contato-icon {
	width: 17%;
    height: 40px;
    background: #409ec2;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 5px;
}
.hero-contato-desc {
	width: 83%;
    text-align: left;
    height: 40px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.hero-contato-desc p {
	font-size: 15px;
}
@media only screen and (max-width: 655px) {
    .hero-contato-container {
	    flex-flow: column;
	}
	.hero-contato-telefone {
		margin-right: 0!important;
		margin-bottom: 10px;
		width: 100%!important;
	}
	.hero-contato-email {
		width: 100%!important;
	}
	.hero-contato-container {
	    height: 120px!important;
	    width: 100%!important;
	}
}

#tel {
    color: rgba(0,0,0,0.87);
}

@media only screen and (max-width: 1045px) {
    .link-destaque {
        padding: 0 10px!important;
    }
}

.link-destaque {
    height: 40px;
    background: #409ec2;
    color: #fff;
    padding: 0 25px;
    line-height: 40px;
    border-radius: 5px;
}

.links-contatos {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.links-item {
    width: 32%;
    text-align: center;
}

.links-item>p {
    margin: 0;
    margin-bottom: 10px;
}

.links-texto {
    font-size: 20px;
}

.links-item>p>svg {
    width: 28px;
}

.btn-whatsapp {
    display: block;
    color: #fff;
    background: #07bc4c;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding: 10px 17px;
    font-size: 13px;
    line-height: 19px;
    height: 19px;
    box-sizing: content-box;
    letter-spacing: 0.02em;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
    max-width: 280px;
}

.btn-messenger {
    display: block;
    color: #fff;
    background: linear-gradient(260deg,#337eb9,#384499);
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding: 10px 17px;
    font-size: 13px;
    line-height: 19px;
    height: 19px;
    box-sizing: content-box;
    letter-spacing: 0.02em;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
    max-width: 280px;
}

.btn-email {
    display: block;
    color: #fff;
    background: #409ec2;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding: 10px 17px;
    font-size: 13px;
    line-height: 19px;
    height: 19px;
    box-sizing: content-box;
    letter-spacing: 0.02em;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
    max-width: 280px;
}

.btn-whatsapp svg,
.btn-messenger svg,
.btn-email svg {
    width: 11px;
    height: 11px;
}

@media only screen and (max-width: 840px) {
    .links-contatos {
        flex-wrap: wrap;
        margin-bottom: 40px!important;
    }

    .links-item {
        width: 100%!important;
        margin-bottom: 15px;
    }
}

.btn-chat {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background: #fff;
    bottom: 30px;
    right: 30px;
    border-radius: 40px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
    transition: all ease .4s;
    z-index: 1;
    border: 1px solid #ececec;
}

.btn-chat:hover {
    box-shadow: 0px 8px 10px rgba(0,0,0,0.35);
}

.btn-chat svg {
    width: 25px;
    height: 25px;
}

@media only screen and (max-width: 400px) {
    .btn-chat {
        bottom: 15px;
        right: 15px;
        height: 60px;
        width: 60px;
    }

    .btn-chat svg {
        width: 27px;
        height: 27px;
    }
}

.fb-like {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rede-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: #337BB7;
    border-radius: 40px;
    margin-right: 5px;
}

.rede-facebook svg {
    width: 11px;
}

.rede-linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: #409EC2;
    border-radius: 40px;
    margin-right: 5px;
}

.rede-linkedin svg {
    width: 20px;
}

.rede-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: #ff7600;
    border-radius: 40px;
}

.rede-blog svg {
    width: 20px;
}

.logo-sidenav {
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.logo-sidenav img {
    width: 60px;
}

.side-nav li {
    text-align: left;
    text-transform: uppercase;
}

@media (max-width:600px) {
    footer .entre_em_contato p {
        width: 100%!important;
    }
}

@media (max-width:500px) {
    .parallax-container {
        min-height: 150px!important;
    }
}